/* mix */
p{
  text-align: center;
  line-height: 250px;
}
/* /mix */

/* stile colonne */
[class*='col-']{
  border: 1px solid black;
  background-color: pink;
}
.nested-col{
  padding: 5px;
}
.nested{
  border: 1px solid white;
  background-color: green;
}

/* /stile colonne */
